@charset "UTF-8";
@import './variáveis.scss';

@mixin botão {
    width: 200px;
    padding: 10px 0;
    background-color: none;
    border: 0;
    border-radius: 10px;
    display: block;
    margin: 10px 0;
}

//Os argumentos do "@mixin" não são obrigatórios, sendo assim, a classe "botão", acima, pode ser convertida em "@mixin".

@mixin button_style($background, $color) {
    background-color: $background;
    color: $color;
}

.botão_laranja {
    @include botão;
    @include button_style($cor_laranja, white);
}

.botão_roxo {
    @include botão;
    @include button_style($cor_roxa, white);
}

.botão_amarelo {
    @include botão;
    @include button_style($cor_amarela, black);
}
